.logo-main{
    display: flex;
    align-items: center;
}

/* TEXT + ICON WRAP */
.logo-main span{
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 18px;
    font-weight: 700;

    color: #111827;

    cursor: pointer;

    transition: 0.2s ease;
}

/* ICON */
.logo-main svg{
    font-size: 20px;
    color: #2563eb;
}

/* HOVER EFFECT */
.logo-main span:hover{
    color: #2563eb;
}